# This is a basic workflow to help you get started with Actions

name: 生成cave

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: 迁出代码
      uses: actions/checkout@v2
    - name: 安装Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    - name: 设置时区
      run: sudo timedatectl set-timezone 'Asia/Shanghai'
    - name: 执行任务
      run: |
        python generate.py
    - name: 提交更改
      run: |
         git config core.ignorecase false
         git config --local user.email "noreply@rdpstudio.top"
         git config --local user.name "RDPStudio"
         git add .
         git commit -m "Update"
         git push
